<!doctype html>                                   
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Temperature and Humidity Monitoring</title>
    <!-- http://jqueryui.com/tabs/#mouseover -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
    <script src="static/libs/jquery-3.2.1.min.js"></script>
    <script src="static/libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
    <script src="static/libs/plotly-latest.min.js"></script>
    <script src="static/libs/gauge.min.js"></script>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <!-- Dialogs -->
    <script type="text/javascript" src="static/libs/init-dialogs.js"></script>
    
    <script>
      
      $(document).ready(function() {
        var x = new Array();
        var y = new Array();
        var z = new Array();
        var trace;
        var layout;
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        
        $( function() {
          $( "#tabs" ).tabs({
            event: "mouseover"
          });
        } );

        var gaugeHumidity = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 20,
                  "color": "rgba(255, 0, 0, .75)"
              },
              {
                  "from": 20,
                  "to": 30,
                  "color": "rgba(255, 165, 50, .75)"
              },
              {
                  "from": 30,
                  "to": 50,
                  "color": "rgba(50, 255, 50, .75)"
              },
              {
                  "from": 50,
                  "to": 60,
                  "color": "rgba(255, 165, 50, .75)"
              },
              {
                  "from": 60,
                  "to": 100,
                  "color": "rgba(255, 0, 0, .75)"
              },
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
        });
        gaugeHumidity.draw();
        gaugeHumidity.value = "0";

        var gaugeTemperature = new RadialGauge({
          renderTo: 'canvasID2',
          width: 300,
          height: 300,
          units: "°C",
          minValue: 0,
          maxValue: 50,
          majorTicks: [
              "0",
              "5",
              "10",
              "15",
              "20",
              "25",
              "30",
              "35",
              "40",
              "45",
              "50"
          ],
          minorTicks: 5,
          strokeTicks: true,
          highlights: [
              {
                  "from": 0,
                  "to": 10,
                  "color": "rgba(255, 0, 0, .75)"
              },
              {
                  "from": 10,
                  "to": 20,
                  "color": "rgba(255, 165, 50, .75)"
              },
              {
                  "from": 20,
                  "to": 35,
                  "color": "rgba(50, 255, 50, .75)"
              },
              {
                  "from": 35,
                  "to": 40,
                  "color": "rgba(255, 165, 50, .75)"
              },{
                  "from": 40,
                  "to": 50,
                  "color": "rgba(255, 0, 0, .75)"
              },
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
        });
        gaugeTemperature.draw();
        gaugeTemperature.value = "0";
        
        socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });
  
        socket.on('my_response', function(msg) {
          console.log(msg.data);
          // $('#log').append('Received #'+msg.count+': '+JSON.stringify(msg.data)+'<br>').html(); 
          $('#log').append('Received #' + msg.count +
                          ': Humidity: ' + msg.data.vlhkost + 
                          ' Temperature: ' + msg.data.teplota +'<br>').html(); 
          x.push(parseFloat(msg.count));
          y.push(parseFloat(msg.data.vlhkost));
          z.push(parseFloat(msg.data.teplota));
          traceHumidity = {
              x: x,
              y: y,
              name: 'Vlhkosť'
          };
          traceTemperature = {
              x: x,
              y: z,
              name: 'Teplota'
          };
          layout = {
            title: 'Vlhkosť a teplota',
            xaxis: {
                title: 'x',
            },
            yaxis: {
                title: 'y',
            }
          };
          var traces = new Array();
          traces.push(traceHumidity);
          traces.push(traceTemperature);
          Plotly.newPlot($('#plotdiv')[0], traces, layout); 
          //addTraces
          gaugeHumidity.value = msg.data.vlhkost;
          gaugeTemperature.value = msg.data.teplota;

          if (gaugeHumidity.value > 0 && gaugeHumidity.value < 20) {
            $( "#dialog-critical" ).dialog("open");
          }
          else if (gaugeHumidity.value > 20 && gaugeHumidity.value < 30) {
            $( "#dialog-low" ).dialog("open");
          }
          else if (gaugeHumidity.value > 50 && gaugeHumidity.value < 60) {
            $( "#dialog-high" ).dialog("open");
          }
          else if (gaugeHumidity.value > 60 && gaugeHumidity.value <= 100) {
            $( "#dialog-critical" ).dialog("open");
          }
          else  if (gaugeHumidity.value >= 30 && gaugeHumidity.value <= 50){
            //To check if the dialog is open or not 
            if ($( "#dialog-critical" ).dialog("isOpen"))
              $( "#dialog-critical" ).dialog("close");
            if ($( "#dialog-high" ).dialog("isOpen"))
              $( "#dialog-high" ).dialog("close");
            if ($( "#dialog-low" ).dialog("isOpen"))
              $( "#dialog-low" ).dialog("close");
          }
        });

        $('#buttonVal').click(function(event) {
          if ($(this).text() == "Start") {
            $(this).text("Stop");
            $(this).val("start");
          }
          else {
            $(this).text("Start");
            $(this).val("stop");
          }
          console.log($('#buttonVal').val())
          socket.emit('db_event', {value: $('#buttonVal').val()});
          socket.emit('click_event', {value: $('#buttonVal').val()});
          
          return false; });

        $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });

        $('form#emit').submit(function(event) {
          var id;
          var traces = new Array();
          id = $('#emit_value').val()
            
            $.ajax({
              type: "GET",
              url: "/read/" + id,
              success:function(data) 
              { console.log(data);  
                data = JSON.parse(data);
                console.log(data);    
                n = Object.keys(data).length;
                console.log(n);
                
                x = [];
                ys = [];
                yc = [];

                $("#log").empty();

                for (var i=0; i<n; i++){
                  x.push(data[i].x);
                  ys.push(data[i].ys);
                  yc.push(data[i].yc); 
                  $('#log').append('Received #'+data[i].x+': sin: '+data[i].ys+', cos: '+data[i].yc+'<br>').html();
                }
                
                let traceSine = {
                  x: x,
                  y: ys,
                  name: 'Sine'
                };
                let traceCosine = {
                  x: x,
                  y: yc,
                  name: 'Cos'
                };

                traces.push(traceSine);
                traces.push(traceCosine);

                Plotly.newPlot($('#plotdiv')[0], traces,layout);           
              }
            }).done(function( o ) {
              console.log("success");
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              console.log("not found");
              $('#log').append('ID: '+id+' not found in file.<br>').html();
            });

            return false; 
        });

      });
    </script>
  </head>
  <body>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Live Monitoring</a></li>
        <li><a href="#tabs-2">Graph Live</a></li>
        <li><a href="#tabs-3">Humidity Gauge</a></li>
        <li><a href="#tabs-4">Temperature Gauge</a></li>
      </ul>

      <div id="tabs-1">
        <h1>Flask-SocketIO Live Monitoring</h1>
        <button id="buttonVal" type="submit" value="start">Start</button>
        <form id="disconnect" method="POST" action="#">
          <input type="submit" value="Disconnect">
        </form>
        <h2>Receive:</h2>
        <div id="log"></div>
      </div>

      <div id="tabs-2">
        <h1>Flask-SocketIO Graph</h1>
        <div id="plotdiv" style="width:600px;height:250px;"></div>

        <a href="/graph">
          <button>Hodnoty zo suboru</button>
        </a>
        <a href="/graphdb">
          <button>Hodnoty z databazy</button>
        </a>
      </div>

      <div id="tabs-3">
        <h1>Flask-SocketIO Humidity Gauge</h1>
        <canvas id="canvasID"></canvas>
        <div id="dialog-critical" title="Humidity Critical">
          <p>Humidity Critical</p>
        </div>
        <div id="dialog-low" title="Humidity Low">
          <p>Humidity Low</p>
        </div>
        <div id="dialog-high" title="Humidity High">
          <p>Humidity High</p>
        </div>
      </div>
      
      <div id="tabs-4">
        <h1>Flask-SocketIO Temperature Gauge</h1>
        <canvas id="canvasID2"></canvas>
        <div id="dialog-critical-temp" title="Temperature Critical">
          <p>Temperature Critical</p>
        </div>
        <div id="dialog-low-temp" title="Temperature Low">
          <p>Temperature Low</p>
        </div>
        <div id="dialog-high-temp" title="Temperature High">
          <p>Temperature High</p>
        </div>
      </div>

    </div>
 
  </body>
</html>
